table {
    border-collapse: collapse;
}

.back1 {
    background-color: #dcdce5;
}

.back2 {
    background-color: #f5f5f5;
}

h1 {
    font-size: 24px;
    line-height: 24px;  
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
}

h2 {
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

h3 {
    font-size: 14px;
    line-height: 18px;
    color: #24242b;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.margin {
    margin: 0 auto;
}

.block {
    display: inline-block;
}

.wrapper {
    max-width: 600px;
}

.width {
    width: 600px;
}

.telephone {
    text-decoration: none;
    padding-left: 10px;
    font-size: 16px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
}

.telep {
    padding-left: 100px;
}

.tel {
    font-size: 13px;
line-height: 18px;
color: #9999a6;
font-style: italic;
font-family: "Arial";
text-align: right;
}

.tdTel {
    padding-left: 85px;
}

.main-text {
    margin: 0;
    line-height: 1.7em;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.main-text1 {
    text-align: center;
    margin: 0;
    line-height: 1.7em;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.button {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
    border-radius: 21px;
    background-color: #fd8300;
    padding-top: 12px;
    padding-left: 21px;
    padding-right: 20px;
    padding-bottom: 12px;
    transition: 0.2s
}

.button,
.button2 {
    width: 180px;
    height: 40px;
}

.buttoon {
    padding-top: 21px;
    padding-bottom: 37px;
}

.main2 {
    background-color: #ededf5;
}

.icon1,
.icon2,
.icon3 {
    max-width: 180px;
    height: 140px;
}

.icon1 {
    text-align: center;
    padding-top: 35px;
    padding-left: 35px;
    padding-bottom: 35px;
}

.icon2 {
    text-align: center;
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.icon3 {
    text-align: center;
    padding-left: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;
}

.path1 {
    text-align: center;
}

.path2 {
    text-align: center;
}

.path3 {
    text-align: center;
}

.house {
    margin: 0 auto;
}

.main3 .h2-house {
    padding-left: 20px;
    text-align: left;
    vertical-align: top;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
}

.huila {
    width: 260px;
    height: 65px;
    font-size: 13px;
    line-height: 19px;
    color: #9999a6;
    font-family: "Arial";
    padding-left: 20px;
    display: block;
    width: 230px;
}

.montreal {
    margin-top: 25px;
}

.main4 {
    height: 195px;
    background-image: url(https://raw.githubusercontent.com/pusi-destroyer228/HataPlusEmail/594bbe0ce1f4b848292f911167d76f06d28559de/img/back.png);
}

.hui {
    margin-top: 0;
}

.main4P {
    margin: 0;
    height: 60px;
    font-size: 13px;
    line-height: 20px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.button2 {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    text-decoration: none;
    border-radius: 21px;
    background-color: #1f1f56;
    padding-top: 12px;
    padding-left: 21px;
    padding-right: 20px;
    padding-bottom: 12px;
    transition: 0.2s
}

.button2 {
    margin-left: 215px;
}

.circle-back {
    width: 600px;
    height: 125px;
    background-color: #08081a;
}

.circle {
    margin-right: 9px;
    display: inline-block;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: #fff;
}

.circle-height {
    padding-top: 30px;
    padding-left: 110px;
    padding-right: 0px;
    display: block;
    height: 35px;
}

.twitter {
    padding-left: 9px;
    padding-top: 11px;
    padding-right: 19px;
    padding-bottom: 11px;
}

.facebook {
    padding-left: 12px;
    padding-top: 9px;
    padding-right: 12px;
    padding-bottom: 9px;
}

.wi-fi {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.pinterest {
    padding-left: 7px;
    padding-top: 6px;
    padding-right: 7px;
    padding-bottom: 8px;
}

.google-plus {
    padding-left: 9px;
    padding-top: 9px;
    padding-right: 6px;
    padding-bottom: 8px;
}

.basketbol {
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: 8px;
}

.linkedin {
    padding-left: 10px;
    padding-top: 8px;
    padding-right: 9px;
    padding-bottom: 11px;
}

.more {
    padding-left: 8px;
    padding-top: 14px;
    padding-right: 8px;
    padding-bottom: 13px;
}

.montreal{
    width: 600px;
    height: 231px;
    background-color: #ffffff;
}

.hr{
    border: none;
    border-top-style: solid;
    border-top-color: #e4e4ec;
    border-top-width: 1px;
}

.popoaa{
    width: 600px;
    height: 231px;
    background-color: #ffffff;
}

.galgary {
    padding-top: 20px;
}

.footer-p {
    font-size: 13px;
    line-height: 18px;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.footer {
    padding-left: 220px;
    width: 600px;
    height: 46px;
    background-color: #000014;
}

.footer a {
    font-size: 11px;
    line-height: 18px;
    color: #fd8300;
    font-family: "Arial";
    text-align: center;
}